<!DOCTYPE html>
<html>
  <head>
    <title>HotwirePlayground</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <%= yield :head %>
  </head>

  <body>
    <dialog data-controller="dialog" data-action="turbo:frame-load->dialog#showModal">
      <%= turbo_frame_tag :dialog %>
    </dialog>

    <%= yield %>
  </body>
</html>
